{{!-- 
    Partial: Messagery Admin 
 --}}

<section class="pt-3 container-fluid bg-light mb-5">

    {{! Admin Messagery }}
    <div class="container pt-3">
      {{!-- Messagery Gestion --}}
      <table class="table table-sm table-hover table-border">
        {{! Table Legend }}
        <thead class="table-header">
          <tr>
            <th scope="col" class="border-2 border-end">Nom</th>
            <th scope="col" class="border-2 border-end">Email</th>
            <th scope="col" class="border-2 border-end">Objet</th>
            <th scope="col" class="border-2 border-end">Message</th>
            <th scope="col" class="border-2 border-end">Action</th>
          </tr>
        </thead>
        {{! Table Content }}
        <tbody>
          {{#each messagery }}
            <tr data-bs-toggle="modal" data-bs-target="#viewMessage{{ this.num_messagery }}">
              <td class="pt-3">{{ this.name }}</td>
              <td class="pt-3">{{ this.email }}</td>
              <td class="pt-3">{{ this.subject }}</td>
              <td class="pt-3">{{ this.message }}</td>
              
              <td class="pt-3">
                <div class="d-flex justify-content-center">
                  <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#deleteMessage{{ this.num_messagery }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer"><i class="far fa-trash-alt"></i></a>
                  <a class="btn-success ms-1 me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#sendEmail{{ this.num_messagery }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Répondre"><i class="fas fa-envelope"></i></a>
                </div>
              </td>

              <!-- Modal Preview / Edit / Delete -->
              {{> modals/modal-viewMessage-admin messagery=this }}

              {{> modals/modal-sendEmail-admin messagery=this }}

              {{> modals/modal-yesNo-admin name='deleteMessage' data=this.num_messagery title="Suppression" question="Voulez-vous vraiment supprimer le message ?" path="/admin/messagery/" method="?_method=DELETE" }}

            </tr>
          {{/each}}
          {{> paginate/paginate-admin data=paginate name='messagery' colspan='5'}}
        </tbody>
      </table>

    </div>

</section>

<style>
    .nav-tabs > .nav-item > .nav-link:hover {
        background-color: rgb(92, 142, 185) !important;
    }
    .nav-link.active {
        background-color: rgb(92, 142, 185) !important;
    }
    @media only screen and (max-width: 770px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            text-align: center;
            border: 1px solid #ccc;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>