{{!-- 
    Partial: Messagery Admin 
 --}}

<section class="pt-3 container-fluid bg-light">

<table class="table table-sm table-hover table-border">
  {{! LEGENDE TABLEAU }}
  <thead class="table-header">
    {{! TITRES ELEMENTS TABLEAU }}
    <tr>
      <th scope="col" class="border-2 border-end">Nom</th>
      <th scope="col" class="border-2 border-end">Objet</th>
      <th scope="col" class="border-2 border-end">Description</th>
      <th scope="col" class="border-2 border-end">Date</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! CONTENU TABLEAU }}
  <tbody>
    {{!-- listUser qui est déclaré dans le GET de adminController --}}
    {{#each messagery}}
      <tr>
        <td class="pt-3">{{ this.name }}</td>
        <td class="pt-3">{{ this.subject }}</td>
        <td class="pt-3">{{ this.message }}</td>
        <td class="pt-3">{{ this.date }}</td>
        
        <td class="text-center pt-2">
          <button name="id" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target="#modalDelete{{ this.id }}"><i class="far fa-trash-alt"></i></button>
          <button name="id" class="btn btn-success ms-2 ps-3" data-bs-toggle="modal" data-bs-target="#editUser{{ this.id }}"><i class="far fa-edit"></i></button>
        </td>

        <!-- MODAL VIEW MESSAGE -->
        {{> modals/modal-viewUser user=this }}

        <!-- MODAL CREATE MESSAGE -->
        {{> modals/modal-contact data=this path='/messagery' }}

        {{!-- MODAL DELETE MESSAGE  --}}
        {{> modals/modal-delete data=this.num_messagery path='/messagery' }}
      </tr>
    {{/each}}
    {{#ifstatus pageUser.total 1}}
    {{else}}
      <tr>
        <td colspan="4">
          <nav aria-label="Page navigation example">
            <ul class="justify-content-center pagination mt-2 mb-2">
              {{#ifstatus pageUser.current 1}}
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?user={{pageUser.previous}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?user={{pageUser.previous}}">{{pageUser.previous}}</a>
                </li>
              {{/ifstatus}}
              <li class="page-item active">
                <a class="page-link" href="?user={{pageUser.current}}">{{pageUser.current}}</a>
              </li>

              {{#ifstatus pageUser.next undefined}}
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?user={{pageUser.next}}">{{pageUser.next}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?user={{pageUser.next}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {{/ifstatus}}
            </ul>
          </nav>
        </td>
      </tr>
    {{/ifstatus}}
  </tbody>
</table>
</section>