{{!-- 
    Partial: Blog Main
 --}}

<!-- Main Actu & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Title Actu -->
            <div class="row ">
                <div class="col-md-12">
                    <h2>Actualités</h2>
                </div>
            </div>
            <!-- Filter -->
            <div class="row justify-content-center mb-5">
                <form class="col-md-6">
                    <input class="form-control" type="text"  placeholder="mot clef exemple: Un titre" aria-label="search" aria-describedby=" search by key word" onkeyup="actions.search(event)" id="inputSearch" />
                </form>
            </div>
            <!-- Article View Main -->
            <div class="row">
                <div class="col-md-12">
                    <div class="actu-view" id="viewBlog">
                        <img class="actu-view-img" src="" alt="">
                        <h3 class="text-center mt-3"> </h3>
                        <p class="text-center"> </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <a href="" class="btn btn-outline-dark ms-2 me-2 mb-2">Lire la suite</a>
                            <p class="float-end"> <span class="fas fa-calendar-day ms-1"></span> </p>
                        </div>
                        {{!-- <a href="" class="btn btn-outline-dark ms-2 me-2 mb-2">Lire la suite</a>
                        <p class="float-end"> <span class="fas fa-calendar-day"></span> </p> --}}
                    </div>
                </div>
            </div>
            <!-- Article List -->
            <div class="row" id="listCard">
                {{#each blog }}
                    <div class="col-md-6">
                        <div class="actu-list" onclick="actions.selectItem(event)">
                            <img class="actu-view-img" src="{{ this.link_picture }}" alt="{{ this.name }}">
                            <h3 class="mt-3">{{ this.title }}</h3>
                            <p class="mb-1">{{ this.description }} </p>
                            <p class="text-end"><span class="fas fa-calendar-day"></span> {{ commentDateFormat this.date }} </p>
                            <div class="text-center">
                                <a href="/blog/{{ this.title }}" class="btn btn-outline-dark ms-2 me-2 mb-2 ">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {{/each }}
            </div>
            {{> paginate/paginate-admin data=paginate name='page' }}
        </div>
        {{> right-menu }}
    </div>
</section>

<script>
    let itemList = document.querySelector('#listCard').children[0].children[0];
    let viewBlog = document.getElementById('viewBlog');

    itemList.style.backgroundColor ='#2121212d'

    console.log('itemlist', itemList.childNodes)

    console.log('viewBlog', viewBlog.childNodes)

    viewBlog.childNodes[0].nextSibling.setAttribute('alt', itemList.childNodes[1].getAttribute('alt'))
    viewBlog.childNodes[0].nextSibling.setAttribute('src', itemList.childNodes[1].getAttribute('src'))

    viewBlog.childNodes[3].childNodes[0].data = itemList.childNodes[3].childNodes[0].data
    viewBlog.childNodes[5].childNodes[0].data = itemList.childNodes[5].childNodes[0].data
    viewBlog.childNodes[7].setAttribute('href', '/blog/' + itemList.childNodes[3].childNodes[0].data)

    viewBlog.childNodes[7].childNodes[3].childNodes[0].data = itemList.childNodes[7].innerText
    const actions = {

    // Get data API
        search(event) {
            let valueInput, filterValue, listCard, card, h3, img, textValue, altValue;

            valueInput = document.getElementById('inputSearch');

            filterValue = valueInput.value.toLowerCase();

            listCard = document.getElementById('listCard');

            card = listCard.children;

            for (let i = 0; i < card.length; i++) {
                h3 = card[i].getElementsByTagName('h3')[0];
                textValue = h3.childNodes[0].data

                if (textValue.toLowerCase().indexOf(filterValue) > -1) {
                    card[i].style.display = "";

                } else {
                    card[i].style.display = "none"
                }
                
            }
        },

        selectItem(event) {
            itemList.removeAttribute("style")

            event.currentTarget.style.backgroundColor ='#21212115'

            itemList = event.currentTarget;

            viewBlog.childNodes[0].nextSibling.setAttribute('alt', itemList.childNodes[1].getAttribute('alt'))
            viewBlog.childNodes[0].nextSibling.setAttribute('src', itemList.childNodes[1].getAttribute('src'))

            viewBlog.childNodes[3].childNodes[0].data = itemList.childNodes[3].childNodes[0].data
            viewBlog.childNodes[5].childNodes[0].data = itemList.childNodes[5].childNodes[0].data
            viewBlog.childNodes[7].setAttribute('href', '/blog/' + itemList.childNodes[3].childNodes[0].data)
            viewBlog.childNodes[7].childNodes[3].childNodes[0].data = itemList.childNodes[7].childNodes[2].data
        }
    };
</script>