{{!-- 
    Partial: Blog Main
 --}}

<!-- Main Actu & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Title Actu -->
            <div class="row ">
                <div class="col-md-12">
                    <h2>Actualités</h2>
                </div>
            </div>
            <!-- Filter -->
            <div class="row justify-content-center mb-5" id="search">

            </div>
            <!-- Article View Main -->
            <div class="row">
                <div class="col-md-12">
                    <div class="actu-view">
                        <img class="actu-view-img" src="assets/images/news/item1.png" alt="item1">
                        <h3 class="text-center mt-2">Item 1</h3>
                        <p class="text-center">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                            bla </p>
                        <p class="text-end"><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                    </div>
                </div>
            </div>
            <!-- Article List -->
            <div class="row" id="listCard">
                {{#each blog }}
                    <div class="col-md-6">
                        <div class="actu-list">
                            <img class="actu-view-img" src="{{ this.link_picture }}" alt="item">
                            <h3 class="mt-1">{{ this.title }}</h3>
                            <p>{{ this.description }} </p>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a href="/blog/{{ this.title }}" class="btn btn-outline-dark ms-2 me-2 mb-2">Lire la suite</a>
                                </div>
                                <div class="col-auto">
                                    <p class="mt-1"><span class="fas fa-calendar-day"></span> {{ commentDateFormat this.date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each }}
            </div>
            {{#ifstatus paginate.total 1}}
            {{else}}
            <nav aria-label="Page navigation example">
                <ul class="justify-content-center pagination">

                    {{#ifstatus paginate.current 1}}
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{paginate.previous}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{paginate.previous}}">{{paginate.previous}}</a>
                    </li>
                    {{/ifstatus}}

                    <li class="page-item active"><a class="page-link"
                            href="?page={{paginate.current}}">{{paginate.current}}</a>
                    </li>

                    {{#ifstatus paginate.next undefined}}
                    {{else}}
                    <li class="page-item"><a class="page-link"
                            href="?page={{paginate.next}}">{{paginate.next}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{paginate.next}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/ifstatus}}
                </ul>
            </nav>
            {{/ifstatus}}
            {{!-- <div class="row">
                <div class="col-md-12">
                    <div aria-label="Page">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div> --}}
        </div>
        {{> right-menu }}
    </div>
</section>

<script>
        const actions = {
    // Get data API
        search(event) {
            let valueInput, filterValue, listCard, card, h3, img, textValue, altValue;

            valueInput = document.getElementById('inputSearch');

            filterValue = valueInput.value.toLowerCase();

            listCard = document.getElementById('listCard');
            console.log('rtegrth',listCard)
            card = listCard.children;
            console.log(card)

            for (let i = 0; i < card.length; i++) {
                h3 = card[i].getElementsByTagName('h3')[0];
                textValue = h3.childNodes[0].data

                if (textValue.toLowerCase().indexOf(filterValue) > -1) {
                    card[i].style.display = "";

                } else {
                    card[i].style.display = "none"
                }
                
            }
        },
    };
</script>