{{!-- 
    Partial: Blog Main
 --}}

<!-- Main Actu & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Title Actu -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Actualités</h2>
                </div>
            </div>
            <!-- Filter -->
            <div class="row">
                <div class="col-md-4">
                    <div class="filter">
                        <h4>Machin</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter">
                        <h4>Machin</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter">
                        <h4>Machin</h4>
                    </div>
                </div>
            </div>
            <!-- Article View Main -->
            <div class="row">
                <div class="col-md-12">
                    <div class="actu-view">
                        <img class="actu-view-img" src="assets/images/news/item1.png" alt="item1">
                        <h3 class="text-center mt-2">Item 1</h3>
                        <p class="text-center">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                            bla </p>
                        <p class="text-end"><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                    </div>
                </div>
            </div>
            <!-- Article List -->
            <div class="row">
                {{#each blog }}
                    <div class="col-lg-4 col-md-6">
                        <div class="actu-list">
                            <img class="actu-view-img" src="./assets/images/blog/{{ blog.link }}" alt="item">
                            <h3 class="mt-1">{{ blog.title }}</h3>
                            <p>{{ blog.description }} </p>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a href="/{{ blog.title }}" class="btn-news-view">Lire</a>
                                </div>
                                <div class="col-auto">
                                    <p class="mt-1"><span class="fas fa-calendar-day"></span> {{ blog.date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each }}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div aria-label="Page">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> right-menu }}
    </div>
</section>