{{!--
Partial: Modal Admin View User
--}}

<!-- Modal User & Create & Edit & Delete -->
<div class="modal fade" id="viewUser{{ this.num_user }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Visualisation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="rounded mx-auto d-block img-thumbnail">
                            <img src="{{this.link_picture}}" alt="Kooppy">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <p>Pseudo: {{ this.pseudo }}</p>
                            <p>Email: {{ this.email }}</p>
                            {{#if this.name }}
                            <p>Nom: {{ this.name }} Prénom: {{ this.first_name }}</p>
                            {{/if }}
                            {{#if this.address }}
                            <p>Adresse: {{ this.address }}</p>
                            {{/if }}
                            {{#if this.postal_code }}
                            <p>Code Postale: {{ this.postal_code }} Ville: {{ this.city }}</p>
                            {{/if }}
                            {{#if this.phone }}
                            <p>Téléphone: {{ this.phone }}</p>
                            {{/if }}
                            {{#if this.civility }}
                            <p>Civilité: {{ this.civility }}</p>
                            {{/if }}
                            {{#if this.description }}
                            <p>Description: {{ this.description }}</p>
                            {{/if }}
                            <p>Vérifier: {{ this.isVerify }}  Admin: {{ this.isAdmin }}  Ban: {{ this.isBan }}  Archiver: {{ this.isArchiving }}</p>
                            <p>Date de Création de Compte : {{calendarDate this.confirmation_date }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook" href=""><span
                                class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href=""><span
                                class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube" href=""><span
                                class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>