{{!--
Partial: Modal Admin Edit Gallery
--}}

<!-- Modal User & Create & Edit & Delete -->
<div class="modal fade" id="editGallery{{ this.num_picture }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/admin/gallery/{{ this.num_picture }}?_method=PUT"
                    enctype="multipart/form-data" >
                    <div class="d-flex flex-wrap-reverse justify-content-center align-items-center">
                        <div class='col-md-8 ps-2 pe-3'>
                            <!-- title Input-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-form">
                                        <input class="form-control" type="text" name="title" placeholder="Titre" value="{{ this.title_picture }}">
                                    </div>
                                </div>
                            </div>
                            <!-- Category Input -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-form">
                                        <input class="form-control" name="category" list="datalistOptions"
                                            id="select-tags-edit-gallery{{ this.num_picture }}" placeholder="Selectionner...">
                                        <datalist id="datalistOptions">
                                            <option value="site">
                                            <option value="cosplay">
                                            <option value="culture">
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <!-- Description Input -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-form">
                                        <textarea class="form-control" name="description" placeholder="Description">{{ this.description_picture }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Picture Input -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="pictureGallery{{ this.num_picture }}" class="rounded mx-auto d-block mb-3 " style="height: 150px; width: 150px; background-image: url('{{this.link_picture}}'); background-position:center; background-size:cover; ">
                                        <input id="changeGallery{{ this.num_picture }}" onclick="changePictureGallery{{ this.num_picture }}()" name="picGallery" type="file"
                                            style="opacity: 0.0; width: 100%; height:100%; cursor:pointer;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button Input-->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline-dark ms-2 me-2 mb-2">Modifier</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook" href=""><span
                                class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href=""><span
                                class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube" href=""><span
                                class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    function changePictureGallery{{ this.num_picture }}() {
        let input = document.getElementById('changeGallery{{ this.num_picture }}')

        input.onchange = evt => {

            const [file] = input.files
            if (file) {
                document.getElementById('pictureGallery{{ this.num_picture }}').style.backgroundImage = `url('${URL.createObjectURL(file)}')`
            }
        }
    }

</script> 