{{!--
Partial: Modal Admin View User
--}}

<!-- Modal View User -->
<div class="modal fade" id="viewUser{{ this.num_user }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Visualisation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="rounded mx-auto d-block img-thumbnail">
                            <img src="{{this.link_picture}}" alt="{{this.category}}">
                        </div>
                    </div>
                    <div class="col-md-8 mt-3">
                        <p><strong>Pseudo:</strong> {{ this.pseudo }}</p>
                        <p><strong>Email:</strong> {{ this.email }}</p>
                        {{#if this.name }}
                        <div class="d-flex flex wrap justify-content-between">
                            <div class="col-md-6">
                                <p><strong>Nom:</strong> {{ this.name }}</p>    
                            </div>
                            <div class="col-md-6">
                                <p><strong>Prénom:</strong> {{ this.first_name }}</p>
                            </div>
                        </div>
                        {{/if }}

                        {{#if this.address }}
                        <p><strong>Adresse:</strong> {{ this.address }}</p>
                        {{/if }}

                        {{#if this.city }}
                        <div class="d-flex flex wrap justify-content-between">
                            <div class="col-md-6">
                                <p><strong>Ville:</strong> {{ this.city }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Code Postale:</strong> {{ this.postal_code }}</p>    
                            </div>
                        </div>
                        {{/if }}

                        {{#if this.phone }}
                        <div class="d-flex flex wrap justify-content-between">
                            <div class="col-md-8">
                                <p><strong>Téléphone:</strong> {{ this.phone }}</p>    
                            </div>
                            <div class="col-md-4">
                                <p><strong>Civilité:</strong> {{ this.civility }}</p>
                            </div>
                        </div>
                        {{/if }}

                        {{#if this.description }}
                        <p><strong>Description:</strong> {{ this.description }}</p>
                        {{/if }}

                        <div class="d-flex flex wrap justify-content-between">
                            <div class="col-md-3">
                                <p><strong>Vérifier:</strong> {{ this.isVerify }}</p>    
                            </div>
                            <div class="col-md-3">
                                <p><strong>Admin:</strong> {{ this.isAdmin }}</p>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Ban:</strong> {{ this.isBan }}</p>    
                            </div>
                            <div class="col-md-3">
                                <p><strong>Archiver:</strong> {{ this.isArchiving }}</p>
                            </div>
                        </div>

                        <p><strong>Date de Création:</strong> {{calendarDate this.confirmation_date }}</p>
                    </div>
                </div>
            </div>
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook" href=""><span
                                class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href=""><span
                                class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube" href=""><span
                                class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>