{{!--
Partial: Blog (Item1) Main
--}}

<!-- Main Article & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="actu-view">
                <p>{{ blog.description }}</p>
                <img class="actu-view-img" src="../{{ blog.link_picture }}" alt="item1">
                <h3 class="mt-1 text-center">{{ blog.title }} </h3>
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p><img class="author" src="../{{ blog.link_picture }}" alt="author">
                            par {{ blog.pseudo }} {{ commentDateFormat blog.date }}</p>
                    </div>
                    <div class="col-auto rounded bg-primary text-white text-end">
                        <p class="m-0"><span class="text-danger">#</span>{{ blog.name }}</p>
                    </div>
                </div>
                <h3 class="mt-1">Paragraphe</h3>
                <p>{{ blog.description }}</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Espace Commentaire</h2>
                </div>
            </div>
            {{#if user }}
            <!-- Comment -->
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <!-- Comment Form -->
                    <form action="/blog/{{ blog.title }}" method="post">
                        <div class="d-flex align-items-center text-center">
                            <div class="col-2">
                                <img class="author" src="../{{ this.link_picture }}" alt="author">
                            </div>
                            <!-- Message Comment -->
                            <div class="col-10">
                                <textarea name="message" class="input-form"
                                    placeholder="Entrez votre commentaire..."></textarea>
                            </div>
                        </div>
                        <!-- Button Comment -->
                        <div class="d-flex justify-content-end">
                            <div class="col-12">
                                <button class="btn btn-full">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{/if }}
            {{#each comment}}
            <div class="row">
                <div class="col-md-12">
                    <div class="row border border-secondary align-items-center p-2 text-center m-1">
                        <div class="col-2">
                            <img class="author" src="../{{ this.link_picture }}" alt="author">
                        </div>
                        <div class="col-10 ">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>{{ this.pseudo }}</span>

                                {{#if ../user.isAdmin}}
                                <a class="" data-bs-toggle="modal" data-bs-target="#delete{{ this.num_comment }}"><span
                                        class="far fa-trash-alt"></span></a>
                                {{else}}
                                {{#ifstatus ../user.id this.num_user}}
                                <a class="" data-bs-toggle="modal" data-bs-target="#delete{{ this.num_comment }}"><span
                                        class="far fa-trash-alt"></span></a>
                                {{/ifstatus }}
                                {{/if }}
                            </div>
                            <p>{{ this.contents }}</p>
                            <div class="d-flex align-items-center justify-content-end">
                                <small>{{commentDateFormat this.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if user.isAdmin}}
            {{> modals/modal-delete data=this.num_comment path="/comment" }}
            {{else}}
            {{#ifstatus ../user.id this.num_user}}
            {{> modals/modal-delete data=this.num_comment path="/comment" }}
            {{/ifstatus }}
            {{/if }}
            {{/each }}
            {{#ifstatus pageComment.total 1}}
            {{else}}
            <nav aria-label="Page navigation example">
                <ul class="justify-content-center pagination">

                    {{#ifstatus pageComment.current 1}}
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{pageComment.previous}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{pageComment.previous}}">{{pageComment.previous}}</a>
                    </li>
                    {{/ifstatus}}

                    <li class="page-item active"><a class="page-link"
                            href="?page={{pageComment.current}}">{{pageComment.current}}</a>
                    </li>

                    {{#ifstatus pageComment.next undefined}}
                    {{else}}
                    <li class="page-item"><a class="page-link"
                            href="?page={{pageComment.next}}">{{pageComment.next}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{pageComment.next}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/ifstatus}}
                </ul>
            </nav>
            {{/ifstatus}}
        </div>
        {{> right-menu }}
    </div>
</section>