{{!--
Partial: Blog (Item1) Main
--}}

<!-- Main Article & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="actu-view">
                <p>{{ blog.description }}</p>
                <img class="actu-view-img" src="../{{ blog.link_picture }}" alt="item1">
                <h3 class="mt-3 text-center">{{ blog.title }} </h3>
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <p><img class="author" src="../{{ author.link_picture }}" alt="author">
                            par {{ author.pseudo }} {{ commentDateFormat blog.date }}</p>
                    </div>
                    <div class="col-auto rounded bg-primary text-white text-end">
                        <p class="m-0"><span class="text-danger">#</span>{{ blog.name }}</p>
                    </div>
                </div>
                <h3 class="mt-1">Paragraphe</h3>
                <p>{{ blog.contents }}</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Espace Commentaire</h2>
                </div>
            </div>
            {{#if user }}
            <!-- Comment -->
                {{#if user.isVerify }}
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12">
                            {{#if commentError}}
                                    <div class="border border-3 border-danger text-danger m-3">
                                        {{#each commentError}}
                                            <p class="pt-3 pb-3 m-0 text-center" style="font-size: 1rem; font-weight: 500;">{{ msg }}</p>
                                        {{/each}}
                                    </div>
                            {{/if}}
                            <!-- Comment Form -->
                            <form action="/blog/{{ blog.title }}" method="post">
                                <div class="d-flex align-items-center text-center">
                                    <div class="col-2">
                                        <img class="author" src="../{{ user.avatar }}" alt="author">
                                    </div>
                                    <!-- Message Comment -->
                                    <div class="col-10">
                                        <textarea name="message" class="form-control"
                                            placeholder="Entrez votre commentaire..."></textarea>
                                    </div>
                                </div>
                                <!-- Button Comment -->
                                <div class="row mt-2 mb-4">
                                    <div class="col-12 text-end">
                                        <button class="btn btn-outline-dark ms-2 me-2 mb-2">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{else }}
                        <div class="row flew-wrap border border-5 border-secondary  align-items-center p-2 text-center m-1 mt-3 ">
                            <div class="col-12">
                                <p>Vous-devez avoir un compte vérifier pour pouvoir poser un commentaire.</p>
                            </div>
                        </div>
                {{/if }}
                {{else}}
                    <div class="row flew-wrap border border-5 border-secondary  align-items-center p-2 text-center m-1 mt-3 ">
                        <div class="col-12">

                            <p>Vous-devez être connecter pour pouvoir poster un commentaire.</p>
                            <button class="btn btn-outline-light ms-2 me-2 mb-2" data-bs-toggle="modal" data-bs-target="#login-register" id="loginButton">Connexion</button>
                        </div>
                    </div>
            {{/if }}
            {{#each comment}}
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="row border border-2 border-secondary align-items-center p-2 text-center m-1">
                        <div class="col-2">
                            <img class="author" src="../{{ this.link_picture }}" alt="author">
                            <p class="mb-0 mt-2"><strong>{{ this.pseudo }}</strong></p>
                        </div>
                        <div class="col-10 ">
                            <div class="d-flex align-items-center justify-content-end">
                                {{#if ../user.isAdmin}}
                                <a class="" data-bs-toggle="modal" data-bs-target="#delete{{ this.num_comment }}"><span
                                        class="far fa-trash-alt"></span></a>
                                {{else}}
                                {{#ifstatus ../user.id this.num_user}}
                                <a class="" data-bs-toggle="modal" data-bs-target="#delete{{ this.num_comment }}"><span
                                        class="far fa-trash-alt"></span></a>
                                {{/ifstatus }}
                                {{/if }}
                            </div>
                            <p>{{ this.contents }}</p>
                            <div class="d-flex align-items-center justify-content-end">
                                <small>{{commentDateFormat this.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if user.isAdmin}}
            {{> modals/modal-delete data=this.num_comment path="/comment" }}
            {{else}}
            {{#ifstatus ../user.id this.num_user}}
            {{> modals/modal-delete data=this.num_comment path="/comment" }}
            {{/ifstatus }}
            {{/if }}
            {{/each }}
            {{> paginate/paginate-admin data=pageComment name='page' }}
        </div>
        {{> right-menu }}
    </div>
</section>