{{!-- 
    Partial: Profil Main 
 --}}
<style>
    html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    }
</style>

<section class="container mt-5 mb-5">
    <div class="row flew-wrap border border-3 border-secondary  align-items-center p-2 text-center m-1 mt-3 ">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                {{#if ../user.isAdmin}}
                <a class="" data-bs-toggle="modal" data-bs-target="#editProfil{{ profilUser.pseudo }}"><span
                        class="fas fa-edit"></span></a>
                {{else}}
                {{log user.id this.num_user}}
                    {{#ifstatus user.id profilUser.num_user}}
                    <a class="" data-bs-toggle="modal" data-bs-target="#editProfil{{ profilUser.pseudo }}"><span
                            class="fas fa-edit"></span></a>
                    {{/ifstatus }}
                {{/if }}
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <img class="rounded-2" src="../{{ profilUser.link_picture }}" alt="author" style="max-height: 150px; max-width: 150px;">
            <p class="mb-0 mt-2"><strong>{{ profilUser.pseudo }}</strong></p>
            <p class="m-0"><strong>{{calendarDate profilUser.confirmation_date }}</strong></p>
        </div>
        <div class="col-12 col-md-9 mb-3 ">
            {{#if profilUser.description}}
            <p >{{ profilUser.description }}</p>
            {{else }}
            <p>Cette personne n'a pas de description mais c'est sans doute une personne formidable et admirable</p>
            {{/if}}
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end">
                {{#if ../user.isAdmin}}
                    <a class="btn btn-outline-dark ms-2 me-2 mb-2" data-bs-toggle="modal" data-bs-target="#archivingUser{{ profilUser.num_user }}">Archiver</a>
                    <a class="btn btn-outline-dark ms-2 me-2 mb-2" data-bs-toggle="modal" data-bs-target="#newPassword{{ profilUser.pseudo }}">New Password</a>
                {{else}}
                    {{#ifstatus user.id profilUser.num_user}}
                        <a class="btn btn-outline-dark ms-2 me-2 mb-2" data-bs-toggle="modal" data-bs-target="#archivingUser{{ profilUser.num_user }}">Archiver</a>
                        <a class="btn btn-outline-dark ms-2 me-2 mb-2" data-bs-toggle="modal" data-bs-target="#newPassword{{ profilUser.pseudo }}">New Password</a>
                    {{/ifstatus }}
                {{/if }}
            </div>
        </div>
    </div>
</section>

{{#if ../user.isAdmin}}
    {{> modals/modal-editProfil data= profilUser }}
    {{> modals/modal-new-password data= profilUser }}
    {{> modals/modal-yesNo-admin name='archivingUser' data=profilUser.num_user title="Archiver" question="Voulez-vous vraiment vous archiver ?" path="/profil/archiving/" method="?_method=PUT" }}
{{else}}
    {{#ifstatus user.id profilUser.num_user}}
        {{> modals/modal-editProfil data= profilUser }}
        {{> modals/modal-new-password data= profilUser }}
        {{> modals/modal-yesNo-admin name='archivingUser' data=profilUser.num_user title="Archiver" question="Voulez-vous vraiment vous archiver ?" path="/profil/archiving/" method="?_method=PUT" }}
    {{/ifstatus }}
{{/if }}