{{!-- 
    Partial: Script Flash Modal - Main Layout
 --}}

{{!-- {{#if modalLogin}}
    <script>
        const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('login-register')).show();

        modal.show();
    </script>
{{/if}}

{{#if modalRegister}}
    <script>

        const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('login-register')).show();

        const tab = bootstrap.Tab.getOrCreateInstance(document.querySelector('#myTab button[data-bs-target="#register"]')).show();

        modal.show();
        tab.show();

    </script>
{{/if}} --}}

{{#if data}}
    <div class="border border-3 border-danger text-danger m-3">
        {{#each data}}
            <p class="pt-3 pb-3 m-0 text-center" style="font-size: 1rem; font-weight: 500;">{{ msg }}</p>
        {{/each}}
    </div>
{{/if}}

{{#if script}}
    <script>
        let tab;

        const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('{{ script }}')).show();

        '{{ tabSelect }}' ? tab = bootstrap.Tab.getOrCreateInstance(document.querySelector('#myTab button[data-bs-target="#{{ tabSelect }}"]')).show() : null;
        
        modal.show();
        
        '{{ tabSelect }}' ? tab.show() : null
    </script>
{{/if}}