{{!-- 
    Partial: News
 --}}

<!-- Main News -->
<section class="container shadow-lg my-5" id="news">
    <!-- Title Main News -->
    <div class="row">
        <div class="col-md-12">
            <h2>Nos Actualités</h2>
        </div>
    </div>
    <!-- Main News Element -->
    <div class="row align-items-center">
        <!-- List News -->
        <div class="col-md-6">
            <div class="scrollspy-list-news">
                {{#each blog }}
                    <!-- List News -->
                    <div class="row me-0 p-1" onclick="selectItem(event)">
                        <div class="col-6 col-md-5 col-sm-4">
                            <img class="rounded" src="{{ this.link_picture }}" alt="{{ this.name }}">
                        </div>
                        <div class="col-6 col-md-7 col-sm-8">
                            <h3>{{ this.title }}</h3>
                            <p class="text-truncate">{{ this.description }}</p>
                        </div>
                        <p class="mb-1"><span class="fas fa-calendar-day"></span> {{ commentDateFormat this.date }}</p>
                    </div>
                {{/each }}
            </div>
        </div>
        <!-- News View -->
        <div class="col-md-6 p-2" id="viewBlog">
            <img class="actu-view-img" src="" alt="">
            <h3 class="text-center mt-2"> </h3>
            <p> </p>
            <a href="" class="btn btn-outline-dark ms-2 me-2 mb-2">Lire la suite</a>
            <p class="float-end"> <span class="fas fa-calendar-day"></span> </p>
        </div>
    </div>
</section>

<script>

    let itemList = document.querySelector('.scrollspy-list-news').children[0];
    let viewBlog = document.getElementById('viewBlog');

    itemList.style.backgroundColor ='#21212115'

    viewBlog.childNodes[0].nextSibling.setAttribute('alt', itemList.childNodes[0].nextSibling.childNodes[1].getAttribute('alt'))
    viewBlog.childNodes[0].nextSibling.setAttribute('src', itemList.childNodes[0].nextSibling.childNodes[1].getAttribute('src'))

    viewBlog.childNodes[3].childNodes[0].data = itemList.childNodes[3].childNodes[1].childNodes[0].data
    viewBlog.childNodes[5].childNodes[0].data = itemList.childNodes[3].childNodes[3].childNodes[0].data
    viewBlog.childNodes[7].setAttribute('href', '/blog/' + itemList.childNodes[3].childNodes[1].childNodes[0].data)

    viewBlog.childNodes[9].childNodes[2].data = itemList.childNodes[5].innerText

    
    function selectItem(event) {

        itemList.removeAttribute("style")
//rgb(45 53 64);
        event.currentTarget.style.backgroundColor ='#21212115'

        itemList = event.currentTarget;

        viewBlog.childNodes[0].nextSibling.setAttribute('alt', itemList.childNodes[0].nextSibling.childNodes[1].getAttribute('alt'))
        viewBlog.childNodes[0].nextSibling.setAttribute('src', itemList.childNodes[0].nextSibling.childNodes[1].getAttribute('src'))

        viewBlog.childNodes[3].childNodes[0].data = itemList.childNodes[3].childNodes[1].childNodes[0].data
        viewBlog.childNodes[5].childNodes[0].data = itemList.childNodes[3].childNodes[3].childNodes[0].data
        viewBlog.childNodes[7].setAttribute('href', '/blog/' + itemList.childNodes[3].childNodes[1].childNodes[0].data)
        viewBlog.childNodes[9].childNodes[2].data = itemList.childNodes[5].childNodes[2].data

    }

</script>