
<table class="table table-sm table-hover table-border">
  {{! Table Legend}}
  <thead class="table-header">
    <tr>
      <th scope="col" class="border-2 border-end">Avatar</th>
      <th scope="col" class="border-2 border-end">Pseudo</th>
      <th scope="col" class="border-2 border-end">Email</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! Table Content }}
  <tbody>
    {{#each users}}
      <tr data-bs-toggle="modal" data-bs-target="#viewUser{{ this.num_user }}">
        <td class="text-center">
          <a class="">
            <img class="avatar" src="{{ this.link_picture }}">
          </a>
        </td>
        <td class="pt-3">{{ this.pseudo }}</td>
        <td class="pt-3">{{ this.email }}</td>
        
        <td class="text-center pt-2">
          <button name="id" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target="#delete{{ this.num_user }}"><i class="far fa-trash-alt"></i></button>
          <button name="id" class="btn btn-success ms-2 ps-3" data-bs-toggle="modal" data-bs-target="#editUser{{ this.num_user }}"><i class="far fa-edit"></i></button>
        </td>

        <!-- Modal Preview / Edit / Delete -->
        {{> modals/modal-viewUser-admin user=this }}

        {{> modals/modal-editUser-admin user=this }}

        {{> modals/modal-delete data=this.num_user path="/admin/user" }}

      </tr>
    {{/each}}
    {{> paginate/paginate-admin data=pageUser name='user' colspan='4' }}
  </tbody>
</table>