{{!-- 
    Partial: Panel Admin - Table Blog
 --}}

<table class="table table-sm table-hover table-border">
  {{! Table Legend }}
  <thead class="table-header">
    <tr>
      <th scope="col" class="border-2 border-end">Image</th>
      <th scope="col" class="border-2 border-end">Autheur</th>
      <th scope="col" class="border-2 border-end">Titre</th>
      <th scope="col" class="border-2 border-end">Description</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! Table Content }}
  <tbody>
    {{#each blog }}
      <tr data-bs-toggle="modal" data-bs-target="#viewBlog{{ this.num_blog }}">
        <td class="text-center">
          <a class="">
            <img class="avatar" src="{{ this.link_picture }}" alt="{{ this.name }}">
          </a>
        </td>
        <td class="pt-3">{{ this.pseudo }}</td>
        <td class="pt-3">{{ this.title }}</td>
        <td class="pt-3">{{ this.description }}</td>
        
        <td class="pt-3">
          <div class="d-flex justify-content-center">
            <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#deleteBlog{{ this.num_blog }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer"><i class="far fa-trash-alt"></i></a>
            <a class="btn-success ms-1 me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#editBlog{{ this.num_blog }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer"><i class="far fa-edit"></i></a>
          </div>
        </td>

        <!-- Modal Preview / Edit / Delete -->
        {{> modals/modal-viewBlog-admin blog=this }}

        {{> modals/modal-editBlog-admin blog=this }}

        {{> modals/modal-yesNo-admin name='deleteBlog' data=this.num_blog title="Suppression" question="Voulez-vous vraiment supprimer l'article ?" path="/admin/blog/" method="?_method=DELETE" }}

      </tr>
    {{/each}}
    {{> paginate/paginate-admin data=pageBlog name='blog' colspan='5' admin=true }}
  </tbody>
</table>