<table class="table table-sm table-hover table-border">
  {{! Table Legend }}
  <thead class="table-header">
    <tr>
      <th scope="col" class="border-2 border-end">Image</th>
      <th scope="col" class="border-2 border-end">Autheur</th>
      <th scope="col" class="border-2 border-end">Titre</th>
      <th scope="col" class="border-2 border-end">Description</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! Table Content }}
  <tbody>
    {{#each blog }}
      <tr data-bs-toggle="modal" data-bs-target="#viewBlog{{ this.num_user }}">
        <td class="text-center">
          <a class="" data-bs-toggle="modal" data-bs-target="">
            <img class="avatar" src="{{ this.link_picture }}">
          </a>
        </td>
        <td class="pt-3">{{ this.pseudo }}</td>
        <td class="pt-3">{{ this.title }}</td>
        <td class="pt-3">{{ this.description }}</td>
        
        <td class="text-center pt-2">
          <button name="id" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target="#modalDelete{{ this.id }}"><i class="far fa-trash-alt"></i></button>
          <button name="id" class="btn btn-success ms-2 ps-3" data-bs-toggle="modal" data-bs-target="#editUser{{ this.id }}"><i class="far fa-edit"></i></button>
        </td>

        <!-- MODAL DELETE ET EDIT -->

        {{> modals/modal-delete data=this.num_user path="/admin/user" }}

        {{!-- {{> modals/modal-viewBlog-admin user=this }} --}}

      </tr>
    {{/each}}
    {{> paginate/paginate-admin data=pageBlog name='blog' colspan='5'}}
  </tbody>
</table>