<table class="table table-sm table-hover table-border">
  {{! Table Legend }}
  <thead class="table-header">
    <tr>
      <th scope="col" class="border-2 border-end">Image</th>
      <th scope="col" class="border-2 border-end">Autheur</th>
      <th scope="col" class="border-2 border-end">Title</th>
      <th scope="col" class="border-2 border-end">Description</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! Table Content }}
  <tbody>
    {{#each gallery}}
      <tr data-bs-toggle="modal" data-bs-target="#viewGallery{{ this.num_user }}">
        <td class="text-center">
          <a class="" data-bs-toggle="modal" data-bs-target="#viewUser{{ this.num_user }}">
            <img class="avatar" src="{{ this.link_picture }}">
          </a>
        </td>
        <td class="pt-3">{{ this.pseudo }}</td>

        {{#if this.title }}
          <td class="pt-3">{{ this.title }}</td>
        {{else }}
          <td class="pt-3">Pas de titre.</td>
        {{/if }}

        {{#if this.description }}
          <td class="pt-3">{{ this.description }}</td>
        {{else }}
          <td class="pt-3">Pas de description.</td>
        {{/if }}
        
        <td class="pt-3">
          <div class="d-flex justify-content-center">
            <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#deleteGallery{{ this.num_user }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer"><i class="far fa-trash-alt"></i></a>
            <a class="btn-success ms-1 me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#editGallery{{ this.num_user }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer"><i class="far fa-edit"></i></a>
          </div>
        </td>

        <!-- Modal Preview / Edit / Delete -->
        {{> modals/modal-viewGallery-admin user=this }}

        {{> modals/modal-editGallery-admin user=this }}

        {{> modals/modal-yesNo-admin name='deleteGallery' data=this.num_user title="Suppression" question="Voulez-vous vraiment supprimer l'image ?" path="/admin/gallery/" method="?_method=DELETE" }}

      </tr>
    {{/each}}
    {{> paginate/paginate-admin data=pageGallery name='gallery' colspan='5' }}
  </tbody>
</table>