{{!-- 
    Partial: Panel Admin - Table Gallery
 --}}


<table class="table table-sm table-hover table-border">
  {{! Table Legend }}
  <thead class="table-header">
    <tr>
      <th scope="col" class="border-2 border-end">Image</th>
      <th scope="col" class="border-2 border-end">Autheur</th>
      <th scope="col" class="border-2 border-end">Title</th>
      <th scope="col" class="border-2 border-end">Description</th>
      <th scope="col" class="border-2 border-end">Action</th>
    </tr>
  </thead>
  {{! Table Content }}
  <tbody>
    {{#each gallery}}
      <tr data-bs-toggle="modal" {{#if this.num_blog }} data-bs-target="#viewBlog{{ this.num_blog }}" {{else }} data-bs-target="#viewGallery{{ this.num_picture }}" {{/if }}>
        <td class="text-center">
          <a class="">
            <img class="avatar" src="{{ this.link_picture }}" alt="{{ this.name }}">
          </a>
        </td>
        <td class="pt-3">{{ this.pseudo }}</td>

        {{#if this.title_picture }}
          <td class="pt-3">{{ this.title_picture }}</td>
        {{else }}
          <td class="pt-3">Pas de titre.</td>
        {{/if }}

        {{#if this.description_picture }}
          <td class="pt-3">{{ this.description_picture }}</td>
        {{else }}
          <td class="pt-3">Pas de description.</td>
        {{/if }}
        
        {{#if this.name }}
          {{#if this.num_blog }}
            <td class="pt-3">
              <div class="d-flex justify-content-center">
                <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#resetBlog{{ this.num_blog }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ResetBlog"><i class="fas fa-undo"></i></a>
              </div>
            </td>
          {{else }}
            <td class="pt-3">
              <div class="d-flex justify-content-center">
                <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#deleteGallery{{ this.num_picture }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer"><i class="far fa-trash-alt"></i></a>
                <a class="btn-success ms-1 me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#editGallery{{ this.num_picture }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer"><i class="far fa-edit"></i></a>
              </div>
            </td>
          {{/if }}
        {{else }}
          <td class="pt-3">
            <div class="d-flex justify-content-center">
              <a class="btn-danger me-1 pe-1 ps-1 rounded" data-bs-toggle="modal" data-bs-target="#resetUser{{ this.num_user }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ResetUser"><i class="fas fa-undo"></i></a>
            </div>
          </td>
        {{/if }}

        <!-- Modal Preview / Edit / Delete -->
        {{#if this.name }}
          {{#if this.num_blog }}
        {{!-- {{> modals/modal-viewBlog-admin  blog=blog }} --}}
            {{> modals/modal-yesNo-admin name='resetBlog' data=this.num_blog title="Réinitialiser" question="Voulez-vous vraiment réinitialiser l'image de l'article ?" path="/admin/gallery/resetBlog/" method="?_method=PUT" }}
          {{else }}
            {{> modals/modal-viewGallery-admin gallery=this }}

            {{> modals/modal-editGallery-admin gallery=this }}

            {{> modals/modal-yesNo-admin name='deleteGallery' data=this.num_picture title="Suppression" question="Voulez-vous vraiment supprimer l'image ?" path="/admin/gallery/" method="?_method=DELETE" }}
          {{/if }}
        {{else }}
          {{> modals/modal-yesNo-admin name='resetUser' data=this.num_user title="Réinitialiser" question="Voulez-vous vraiment réinitialiser l'image de l'utilisateur ?" path="/admin/gallery/resetUser/" method="?_method=PUT" }}
        {{/if }}

      </tr>
    {{/each}}
    {{> paginate/paginate-admin data=pageGallery name='gallery' colspan='5' admin=true }}
  </tbody>
</table>